<%=
  content_tag(@tag, class: @classes) do
    [content_tag(:span, class: @height) do 
      render(OnlineOpsWeb.UIView, "logo-icon.html", classes: "w-auto h-full")
    end,
    content_tag(:span, "OnlineOps", class: "ml-3")]
  end
%>