Here is your link to sign into your account:

<%= OnlineOpsWeb.Endpoint.static_url() <> "/auth/" <> @magic_token %>

If you did not request this link to sign in, ignore this email and the link will expire on its own.